body{
    background-color: var(--fondo-color);
    
}
.all-products{
    margin-top: 40px;
    color: var(--navbar-color);
    
}
.products-box{
    width: 85%;
    text-align: center; 
    margin-left: 24px;
}
.products-item{
    max-width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    padding: 10px;
    background-color: var(--etiquetas-color);
}
.products-box img{
    width: 99%;
    margin-top: 6px;
    height: 234px;
    margin-bottom: 23px;
    object-fit: cover;
}
.products-item h5{
    padding-bottom: 20px;
}
.products-item h3{
    font-size: 16px;
}
/* boton */
.products-item a{
    text-decoration: none;
    color: var(--navbar-color);
}
.products-item button{
    font-size: 14px;
    background-color: var(--etiquetas-color);
    border: var(--letras-color) 1px solid;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 14px;
}
.products-item button:hover{
    /* background-color: var(--fondo-color); */
    background-color: var(--navbar-color);
    
}
.products-item a:hover{
    color: var(--letras-claras-color);
}
/* titulo */
.title h1{
    font-size: 17px;
    padding: 18px;
    background-image: url(../images/istockphoto-905982342-612x612.jpg);
    margin-bottom: 22px;
  }



@media(min-width:700px){
   .all-products{
        margin-top: 55px;
    }
   .products{
       display: flex;
       flex-wrap: wrap;
       max-width: 90%;
       margin-left: 25px;
    
   }
   .products-box{
      max-width: 46%;
      padding-left: 10px;
   }
   .products-box img{
       height: 75%;
       object-fit: cover;
       margin-top: 0px;
       margin-bottom: 17px;
   }
   .products-item{
       height: 313px;
   }
   /* titulo */
 .title h1{
    font-size: 20px;
  }
  
  
}

@media(min-width:1024px){
    .all-products{
        max-width: 90%;
        margin-left: 32px;
    }
    .products{
        max-width: 100%;
    }
    .products-box{
        max-width: 30%;
    }
    .products-box img{
        object-fit: cover;
        height: 250px;
    }
    .products-item{
        max-width: 100%;
        height: 90%;
    }
    .products-item h3, .products-item h5{
        font-size: 20px;
    }
    .products-item p{
        font-size: 18px;
    }
    .products-item button{
        font-size: 18px;
    }
    /* titulo */
    .title h1{
        font-size: 26px;
        margin-top: 58px;
        margin-bottom: 55px;
       }
    
}

@media(min-width:1440px){
    .all-products{
        max-width: 88%;
        margin-left: 98px;
    }
    .products-item button{
        font-size: 20px;
    }
    .products-box img{
        margin-bottom: 26px;
        height: 300px;
    }
     /* titulo */
     .title h1{
        font-size: 30px;
        margin-top: 78px;
        margin-bottom: 70px;
       }

}