body{
    background: var(--etiquetas-color);
   }      
   
   main {
     position: relative;
     height: 62%;
   }
  
   main {
     background: var(--etiquetas-color);
     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
     font-size: 14px;
     color: #000;
     margin: 0;
     padding: 0;
     margin-top: -9px;
   }
  
   .swiper {
     width: 100%;
     padding-top: 50px;
     padding-bottom: 50px;
   }
  
   .swiper-slide {
     background-position: center;
     background-size: cover;
     width: 300px;
     height: 300px;
   }
  
   .swiper-slide img {
    display: block;
    width: 100%;
    height: 224px;
    object-fit: cover;
    margin-left: 1px;
    padding: 19px;
    margin-bottom: 15px;
   }
  
   .swiper-pagination-bullet-active  {
    background-color: #41210C !important; 
  }
  
  
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    margin-left:7px;
    bottom: 36px !important;
  }


   h3{
    font-size: 18px;
    color: var(--navbar-color);
    margin-top: -22px;
    margin-left: 19px;
}
 p{
    font-size: 14px;
    color: var(--navbar-color);
    margin-left: 19px;
    max-width: 88%;
}
  
  /* titulo */
  
  .title h1{
    font-size: 17px;
    padding: 18px;
    background-image: url(../images/istockphoto-905982342-612x612.jpg);
    margin-bottom: 22px;
  }
  /* footer */

  .footer-container{
      margin-top: 141px;
      padding: 13px;
      margin-left: 52px;
  }
  
  @media(min-width:700px){
    main {
      height: 82%;    
    }
   
    .swiper-slide img {
      width: 80%;
      height: 370px;
      margin-left: 72px;
    }
    h3{
      font-size: 20px;
      margin-left: 88px;
  }
   p{
      font-size: 16px;
      margin-left: 88px;
      max-width: 79%;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 4px !important;
  }


   /* titulo */
   .title h1{
     font-size: 20px;
     margin-bottom: 30px;
   }
   /* footer */

   .footer-container{
    margin-top: 155px;
   }
  }
  
  
  @media(min-width:1024px){
          main {
          height: 72%;    
        }
  
         .swiper-slide img {
          width: 70%;
          height: 425px;
          margin-left: 153px;
          margin-bottom: 32px;
          padding: 14px;
         }

         h3{
          font-size: 22px;
          margin-left: 163px;
      }
       p{
          font-size: 18px;
          margin-left: 163px;
      }
        
        
        /* titulo */
   
        .title h1{
          font-size: 26px;
          margin-top: 58px;
          margin-bottom: 55px;
         }
         /* footer */

        .footer-container{
          margin-top: 210px;
        }
  
      }
  
      @media(min-width:1440px){
        main {
          height: 87%;    
        }
      
        .swiper-slide img {
          width: 56%;
          height: 560px;
          margin-left: 320px;
          margin-bottom: 32px;
        }
        h3{
          font-size: 27px;
          margin-left: 327px;
      }
       p{
          font-size: 23px;
          margin-left: 327px;
      }
        
       
       
       /* titulo */
  
       .title h1{
         font-size: 30px;
         margin-top: 78px;
         margin-bottom: 70px;
        }
       .footer-container span{
         margin-left: 304px;
       }
  
     }
     
  
      