
.carousel-item img{
    width: 100%;
    height:260px;
    object-fit: cover;
    
}

@media(min-width:768px){
    .carousel-item img{
        width: 100%;
        height:440px;    
        object-fit: cover;
    }
}

@media(min-width: 1024px){
.carousel-item img{
    width: 100%;
    height: 610px;
    object-fit: cover;
}


}

