<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <link rel="stylesheet" href ="../style/opciones.css">
    <script src="../js/opciones.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<body>
    <header class="topheader">
        <%- include ("../partials/navbar") %>
      </header>
      <main>
        <section class="destacados">
            <div class="title">
                <h1> Con frutos secos </h1>
            </div>
        </section>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/images/almendras.jpg" />
                <h3>Almendras</h3>
                <p class="descripcion">Chocolate con almendras caramelizadas.</p>
              </div>
              <div class="swiper-slide">
                <img src="/images/almendras2.JPG" />
                <h3>Almendras</h3>
              </div>
              <div class="swiper-slide">
                <img src="/images/mani.jpg" />
                <h3>Maní</h3>
                <p class="descripcion">Barritas de chocolate con maní.</p>
              </div>
              <div class="swiper-slide">
                <img src="/images/mani2.jpg" />
                <h3>Maní</h3>
              </div>
             
            </div>
            <div class="swiper-pagination"></div>
          </div>

      </main>
       
      <%- include ("../partials/footer") %>
    
</body>
</html>