<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head") %>
    <link rel="stylesheet" href ="../style/opciones.css">
    <script src="../js/opciones.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>
<body>
    <header class="topheader">
        <%- include ("../partials/navbar") %>
        
      </header>

      <main>
        <section class="destacados">
            <div class="title">
                <h1> Con galletitas </h1>
            </div>
        </section>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/images/oreo.jpg" />
                <h3>Oreo</h3>
                <p class="descripcion">Capas de chocolate con leche con un relleno de chocolate blanco y galletitas Oreo.</p>
              </div>
              <div class="swiper-slide">
                <img src="/images/oreo2.JPG" />
                <h3>Oreo</h3>
              </div>
              <div class="swiper-slide">
                <img src="/images/bañadas.jpg" />
                <h3>Oreos bañadas</h3>
                <p class="descripcion">Galletitas Oreo bañadas en chocolate.</p>
              </div>
              <div class="swiper-slide">
                <img src="/images/chocotorta.jpg" />
                <h3>Chocotorta</h3>
                <p class="descripcion">Barras de chocolate con leche rellenas de la clásica chocotorta.</p>
              </div>
              <div class="swiper-slide">
                <img src="/images/chocotorta2.jpg" />
                <h3>Chocotorta</h3>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

      </main>
       
      <%- include ("../partials/footer") %>

</body>
</html>