<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href ="../style/about.css">

</head>
<body>
    <header class="topheader">
        <%- include ("./partials/navbar") %>
    </header>
    <main>
      <!-- <div class="image">
        <img src="/images/otra-pra.jpg">
      </div> -->
      <section class="text-about">
        <div class="text-container">
            <h2> Nuestra historia</h2>
             <p>Siempre disfruté mucho del chocolate como consumidora y la pandemia me dio la oportunidad de intentar hacer mis propias creaciones. 
                Empecé de a poco haciendo que distintas personas prueben lo que estaba haciendo, hasta que tomé la decisión de hacerlo oficial. 
                Le puse un nombre, le dí una identidad y así fue como nació SD chocolates un pequeño emprendimiento que se dio a conocer el 10 de junio de 2021.  
                </p>
        </div>
      </section>
    </main>
      


      <%- include ("./partials/footer") %>
    
</body>
</html>