<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href ="../style/about.css">

</head>
<body>
    <header class="topheader">
        <%- include ("./partials/navbar") %>
    </header>

    <body>
      <section class="text-about">
        <div class="text-container">
            <p>Siempre disfruté mucho del chocolate y la pandemia me pareció una buena oportunidad para intentar hacer mi propia experiencia con el chocolate. 
                Empecé de a poco haciendo que distintas personas prueben mis creaciones hasta que tomé la decisión de hacerlo oficial, ponerle un nombre, darle una identidad  y mostrar lo que estaba haciendo. 
                Y así fue como nació SD chocolates un pequeño emprendimiento que se dio a conocer el 10 de junio de 2021.  
                </p>
        </div>
      </section>

    </body>

      <%- include ("./partials/footer") %>
    
</body>
</html>