<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>
    <link rel="stylesheet" href ="../style/contact.css">

</head>
<body>
    <header class="topheader">
        <%- include ("./partials/navbar") %>
     </header>
     <main>
         <form action="/" method="POST" enctype="multipart/form-data">
             <h2>Contactanos</h2>
             <div class="formulario-container">
             <div class="select-list">
                 <select name="select-option" id="select-option" class="select-option">
                     <option value="consulta" disabled selected>Consulta...</option>
                     <option value="Sobre los chocolates">Sobre los chocolates</option>
                     <option value="Sobre el envío">Sobre el envío</option>
                     <option value="Otro">Otro</option>

                 </select>
             </div>
             <div class="name">
                 <input class="name" id="name" type="text" name="name" placeholder="Nombre">
             </div>
             <div class="last-name">
                <input class="last-name" id="last-name" type="text" name="last-name" placeholder="Apellido">
            </div>
             <div class="email">
                <input class="email" id="email" type="text" name="email" placeholder="Email">
            </div>
            <div>
                <textarea class="mensaje" id="mensaje" name="mensaje" placeholder="Mensaje"></textarea>
            </div>
            <div class="enviar">
                <button type="submit" class="enviar-button">Enviar</button>
            </div>
        </div>
         </form>
     </main>

     <%- include ("./partials/footer") %>
    
</body>
</html>