<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head") %>

</head>
<body>
    <header class="topheader">
        <%- include ("./partials/navbar") %>
      </header>
    
</body>
</html>