<!DOCTYPE html>
<html lang="en">
    <head>
      <%- include ("./partials/head") %>
    </head>
    <body>
      <header class="topheader">
        <nav class="topnav">
            <button class="open-menu"><i class="fas fa-bars"></i></button>
    
             <div class="logo">
                <a href="/"><img src="images/sd.png"></a>
            </div> 
           
            <ul class="menu">
               <button class="close-menu"><i class="fas fa-arrow-left"></i></button>
                <li >
                    <a class="chocolate" href="/chocolates">CHOCOLATES</a>
                    
                    <ul class="chocolate-menu ">
                      <a class="chocolate-options" href="/chocolates/marroc">Marroc</a>
                        <a class="chocolate-options" href="/chocolates/ddl">Con dulce de leche</a>
                        <a class="chocolate-options" href="/chocolates/frutosSecos">Con frutos secos</a>
                        <a class="chocolate-options" href="/chocolates/galletitas">Con galletitas</a>
                    </ul>   
                
                </li>
                <li ><a class="menu-item" href="/presentacion">PRESENTACIÓN</a></li>
                <li ><a class="menu-item" href="/about">NOSOTROS</a></li>
                <li ><a class="menu-item" href="/contact">CONTACTO</a></li>
            </ul>
            <div class="instagram">
                <a href="https://www.instagram.com/sd.chocolates"><img src="images/657759_circles_instagram_line_neon_social_icon.png"></a>
            </div> 
            
        </nav>
    </header>
        
           <!--...............SLIDER............... -->
           <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/chocolates-mod.jpg" class="d-block w-100" alt="banner1">
              </div>
              <div class="carousel-item">
                <img src="/images/IMG_20210727_145743.jpg" class="d-block w-100" alt="banner2">
              </div>
              
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
            <!--...............FIN-SLIDER............... -->


            <section class="destacados">
                <div class="title">
                    <h1> ¿Qué te gustaría probar? </h1>
                </div>
                <div class="destacados-container">
                   <article class="destacado-item">
                      <div class=" contenido-item">
                         <img src="images/marroc.jpg">
                       <div class="text-item">
                        <h2><a href="/chocolates/marroc">Marroc</a></h2>
                       </div>
                      </div>
                   </article>
                   <article class="destacado-item">
                      <div class=" contenido-item">
                         <img src="images/milhojas.jpg">
                       <div class="text-item">
                        <h2><a href="/chocolates/ddl">Milhojas</a></h2>
                       </div>
                      </div>
                   </article>
                   <article class="destacado-item">
                      <div class=" contenido-item">
                         <img src="images/cajas.jpg">
                       <div class="text-item">
                        <h2><a href="/presentacion">Surtidos</a></h2>
                       </div>
                      </div>
                   </article>
            </div>
            </section>

            <footer>
              <%- include ("./partials/footer") %>
            </footer>

    </body>




</html>