<header class="topheader">
    <nav class="topnav">
        <button class="open-menu"><i class="fas fa-bars"></i></button>

         <div class="logo">
            <a href="/"><img src="../images/sd.png"></a>
        </div> 
       
        <ul class="menu">
           <button class="close-menu"><i class="fas fa-arrow-left"></i></button>
            <li >
                <a class="chocolate" href="/chocolates">CHOCOLATES</a>
                
                <ul class="chocolate-menu ">
                    <a class="chocolate-options" href="/chocolates/marroc">Marroc</a>
                    <a class="chocolate-options" href="/chocolates/ddl">Con dulce de leche</a>
                    <a class="chocolate-options" href="/chocolates/frutosSecos">Con frutos secos</a>
                    <a class="chocolate-options" href="/chocolates/galletitas">Con galletitas</a>
                </ul>   
            
            </li>
            <li ><a class="menu-item" href="/presentacion">PRESENTACIÓN</a></li>
            <li ><a class="menu-item" href="/about">NOSOTROS</a></li>
            <li ><a class="menu-item" href="/contact">CONTACTO</a></li>
        </ul>
        <div class="instagram">
            <a href="https://www.instagram.com/sd.chocolates"><img src="../images/657759_circles_instagram_line_neon_social_icon.png"></a>
        </div> 
        
    </nav>
</header>